<launch>
    <arg name="camera" default="rgbd_hand"/>
    <arg name="device_type" default="l515"/>
    <arg name="publish_tf" default="false"/>
    <arg name="initial_reset" default="true"/>
    <arg name="enable_sync" default="false"/>
    <arg name="rviz_config" default="intel_l515" />
    <arg name="visualize" default="false"/>
    <arg name="color_height" default="-1"/>
    <arg name="color_width" default="-1"/>
    <arg name="color_fps" default="-1"/>
    <arg name="depth_height" default="-1"/>
    <arg name="depth_width" default="-1"/>
    <arg name="depth_fps" default="-1"/>

    <remap from="/$(arg camera)/depth/image_rect_raw" to="/$(arg camera)/depth/image_raw"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="$(arg camera)"/>
        <arg name="device_type" value="$(arg device_type)"/>
        <arg name="publish_tf" value="$(arg publish_tf)"/>
        <arg name="initial_reset" value="$(arg initial_reset)"/>
        <arg name="enable_sync" value="$(arg enable_sync)"/>
        <arg name="color_height" value="$(arg color_height)"/>
        <arg name="color_width" value="$(arg color_width)"/>
        <arg name="color_fps" value="$(arg color_fps)"/>
        <arg name="depth_height" value="$(arg depth_height)"/>
        <arg name="depth_width" value="$(arg depth_width)"/>
        <arg name="depth_fps" value="$(arg depth_fps)"/>
    </include>


    <group if="$(arg visualize)">
        <node name="rviz" pkg="rviz" type="rviz" 
            args="--display-config $(find zau_bringup)/config/$(arg rviz_config).rviz" required="false" >
        </node>
    </group>

    
</launch>
