<launch>
    <arg name="camera"              default="vo_camera"/>
    <arg name="device_type"         default="t265"/>
    <arg name="publish_odom_tf"     default="true"/>
    <arg name="initial_reset"       default="false"/>
    <arg name="enable_sync"         default="true"/>
    <arg name="rviz_config"         default="intel_l515" />
    <arg name="visualize"           default="false"/> 


    <include file = "$(find realsense2_camera)/launch/rs_t265.launch">
        <arg     name = "camera" value          = "$(arg camera)"/>
        <arg     name = "device_type" value     = "$(arg device_type)"/>
        <arg     name = "publish_odom_tf" value = "$(arg publish_odom_tf)"/>
        <arg     name = "initial_reset" value   = "$(arg initial_reset)"/>
        <arg     name = "enable_sync" value     = "$(arg enable_sync)"/>
    </include>


    <group if   = "$(arg visualize)">
    <node  name = "rviz" pkg = "rviz" type = "rviz"
           args = "--display-config $(find zau_bringup)/config/$(arg rviz_config).rviz" required = "false" >
        </node>
    </group>

    
</launch>
