<?xml version="1.0"?>
<launch>
        <arg name="bag" default="/tmp/tmp.bag"/>

        <!--To record only raw data-->
        <!-- http://wiki.ros.org/openni_launch/Tutorials/BagRecordingPlayback-->
        <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="
        /tf
        /tf_static
        /joint_states
        /rgb_body_right/camera_info
        /rgb_body_right/image_raw/compressed
        /rgb_body_left/camera_info
        /rgb_body_left/image_raw/compressed
        /rgbd_hand_camera/color/camera_info
        /rgbd_hand_camera/color/image_raw/compressed
        /rgbd_hand_camera/depth/camera_info
        /rgbd_hand_camera/depth/image_raw/compressed
        /velodyne_points
        /vo_body_camera/odom/sample
        -o $(arg bag)">
        </node>
</launch>
