<launch>
    <arg name="device_ip" default="192.168.1.203"/>
    <arg name="frame_id" default="lidar3d"/>
    <arg name="port" default="2370"/>
    <arg name="rviz_config" default="velodyne"/>
    <arg name="visualize" default="false"/>
    <arg name="rpm" default="600.0"/>


    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
        <arg name="device_ip" value="$(arg device_ip)"/>
        <arg name="frame_id" value="$(arg frame_id)"/>
        <arg name="port" value="$(arg port)"/>
        <arg name="rpm" value="$(arg rpm)"/>
    </include>


    <group if="$(arg visualize)">
        <node name="rviz" pkg="rviz" type="rviz" 
            args="--display-config $(find zau_bringup)/config/$(arg rviz_config).rviz" required="false" >
        </node>
    </group>

    
</launch>
