<?xml version="1.0" ?>
<robot name="zau" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ####################################### -->
    <!-- Arguments and propperties-->
    <!-- ####################################### -->
    <!--Args are local, properties are global, so we copy the values of the arguments to the properties-->
    <!--Properties are global so they can be viewed from inside the included xacros-->
    <!--  args are used with $(arg arg_name), properties are used as ${property_name}-->

    <xacro:property name="M_PI" value="3.1415926535897931" />

    <!-- Manipulator's args and propperties -->
    <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
    <xacro:arg name="physical_params" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
    <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
    <xacro:arg name="visual_params" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>


    <!-- ####################################### -->
    <!-- Include files-->
    <!-- ####################################### -->

    <!-- Sensors-->
    <xacro:include filename="$(find realsense2_description)/urdf/_l515.urdf.xacro"/>
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>

    <!-- Manipulator-->
    <xacro:include filename="$(find ur_gazebo)/urdf/ur_macro.xacro"/>

    <!-- ####################################### -->
    <!-- Declare links and joints -->
    <!-- ####################################### -->

    <!-- Place AGV -->
    <xacro:include filename="$(find zau_description)/urdf/moving_base_odom.urdf.xacro" /> 

    <!--  Place manipulator1 in the scene-->
    <xacro:ur_robot_gazebo
            prefix=""
            joint_limits_parameters_file="$(arg joint_limit_params)"
            kinematics_parameters_file="$(arg kinematics_params)"
            physical_parameters_file="$(arg physical_params)"
            visual_parameters_file="$(arg visual_params)"
            transmission_hw_interface="$(arg transmission_hw_interface)"
            safety_limits="$(arg safety_limits)"
            safety_pos_margin="$(arg safety_pos_margin)"
            safety_k_position="$(arg safety_k_position)"
    />

    <!--  Place robot on top of the table1-->
    <joint name="moving_base_to_ur5" type="fixed">
        <parent link="base_link_mb" />
        <child link = "base_link"/>
        <origin xyz="-0.296 0 0.826" rpy="0.0 0.0 ${M_PI/4}" />
    </joint>


    <!-- Place hand camera in the scene-->
    <xacro:sensor_l515 name="rgbd_hand" parent="flange">
        <origin xyz="0.0 0.0 -0.02" rpy="0 0.0 0" />
    </xacro:sensor_l515>

    

</robot>